NODE_ENV=development
PORT=3000
APP_NAME=API-order

# Database Configuration
DATABASE_URL="mysql://root:@localhost:3306/db_order_mgmt"
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_order
DB_USER=root
DB_PASSWORD=
DB_DIALECT=mysql

# JWT Configuration
JWT_SECRET=changeme_secret_key
JWT_EXPIRE=30m
JWT_REFRESH_SECRET=changeme_refresh_secret_key
JWT_REFRESH_EXPIRE=7d

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# FRONTEND URL Configuration
FRONTEND_URL=http://localhost:5173

# SMTP CONFIGURATION DEFAULT
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=dewandrarb@gmail.com
SMTP_PASS=chhvhhzxyhibzmsh 
SMTP_FROM="FotoGenie Support <no-reply@fotogenie.com>"