name: Deploy Express

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd ${{ secrets.APP_DIR }}
            git pull origin main
            pnpm install --frozen-lockfile
            pnpm build
            pnpm prisma:migrate:deploy
            touch tmp/restart.txt || pm2 restart anindoplast-be
