name: Deploy Express

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            source /home/anindopl/nodevenv/anindo-be/19/bin/activate
            cd ${{ secrets.APP_DIR }}
            git pull origin main
            npm ci
            npm run build
            npx prisma migrate deploy
            mkdir -p tmp
            touch tmp/restart.txt